* {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  header {
    font-size: large;
    color: gold;
    padding: 20px;
    text-align: center;
    font-style: italic;
  }
  nav ul {
    list-style-type: none;
    text-align: center;
  }

  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
  }

  .title {
    margin-bottom: 2rem;
  }
  .container {
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 40px 0;
  }

  .photo-gallery {
    display: flex;
    gap: 20px;
  }

  .column{
display: flex;
flex-direction: column;
gap: 20px
  }

  .photo img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
  }

.weblinks {
font-size: large;
color: white;
}

body {
    background-color: black;
}

footer {
    background-color: gold;
    padding:20px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.telephone {
    display: flex;
    align-items: center;
}

.telephone img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.email {
    display: flex;
    align-items: center;
}

.email img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.socialmedia-icons{
    text-align: center;
}

.socialmedia-icons a {
    display: inline block;
    margin: 0 10px;
}

.socialmedia-icons img {
    width: 40px; 
    height: 40px;
}
