h1 {
    font-size: xx-large;
    color: darkmagenta;
    border: aliceblue;
    text-align: center;
}   

h2 {
    font-size: large;
    color: darkmagenta;
    text-align: center;
}

h3 { 
    font-size: large;
    color: darkmagenta;
    text-align: center;
}

.picture-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px
}

.photo {
    flex: 1 1 200px;
}
.photo img {
    width: 100%;
    height: auto;
    display: block;
}

section{
    display: flex;
}

article {
    padding: 20px;
    margin: 20px;
    background: black;
    border-color: gold;
    color: white;
}



.weblinks {
font-size: large;
color: white;
}

body {
    background-color: black;
}

footer {
    background-color: gold;
    padding:20px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.telephone {
    display: flex;
    align-items: center;
}

.telephone img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.email {
    display: flex;
    align-items: center;
}

.email img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.socialmedia-icons{
    text-align: center;
}

.socialmedia-icons a {
    display: inline block;
    margin: 0 10px;
}

.socialmedia-icons img {
    width: 40px; 
    height: 40px;
}

.className {
    background-color: green;
}

#idName {
    background-color: blue;
}